html, body {
    height: 100%;
    background-color: #F4F4F4;
}

.change-language-container {
    float: right;
    margin-right: 20px;
}

.btn.btn-default {
    vertical-align: inherit;
}

.select-container {
    display: inline-block;
}

.panel-body {
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    position: fixed;
}

.info-message-label {
    color: red;
    text-align: center;
}

.center-block {
    width: 500px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-block {
    float: right;
}

/*.intend-paragraph {*/
/*margin-left: 20px;*/
/*}*/

.Shifted {
    background-color: #b8daff;
}

.Rejected {
    background-color: #f5c6cb;
}

.Approved{
    background-color: #c3e6cb;
}

.Active{
    background-color: #fefefe;
}

.table-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified .btn, .btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}

.title {
    color: grey;
    text-align: center;
}

.label {
    color: grey;
}

.center-text {
    margin-top: 200px;
    text-align: center;
}